.legend-container #column1 {
  background-color: rgba(255, 255, 255, 1.0);
}

.legend-container .legend-toggle {
  cursor: pointer;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1.0);
}
.legend-container .legend-toggle-icon {
  /*optionally use an icon image for the toggle button*/
  /*background: url('images/layers.png') no-repeat center center;*/
}
.legend-collapsed #column1{
  display: none;
}
.legend-collapsed .legend-toggle {
  display: block;
}
