#map{ height: 100%;
      width: 100%;
    }

#title{
     text-align: center;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 30px;
    }
#subtitle {
      font-family: sans-serif;
      font-size: 16;
      text-align: center;
    }

h1 {
  font-family: sans-serif;
  font-size: 28px;
  text-align: center;
}
h2{
  font-family: sans-serif;
  font-size: 22px
}
h3 {
  font-family: sans-serif;
  font-size: 20px
}
p {
  font-family: sans-serif;
}
#charts {
  font-family: sans-serif;
  font-size: 18px;
}
body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #D5CECC;
}



#basemaps-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 400;
  background: white;
  padding: 10px;
}
#basemaps {
  margin-bottom: 5px;
}

#Ltitle{
     text-align: center;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 14px;
    }#legend {
      width: 100%;
      font: 12px Arial, sans-serif;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
      padding-bottom: 5%;

      }
