#map{ height: 100%;
      width: 100%;
    }

#layers{
  font-family: sans-serif;
  font-size: 20px;
}
h1 {
  font-family: sans-serif;
  font-size: 18px
}
#charts {
  font-family: sans-serif;
  font-size: 18px;
}
body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #D5CECC;
}
 p2 {
   font-size: 12;
 }

p {
  font-size: 18;
}

#basemaps-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 400;
  background: white;
  padding: 10px;
}
#basemaps {
  margin-bottom: 5px;
}

.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 20px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 14px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.5;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
