#map{ height: 100%;
      width: 100%;
    }

#layers{
  font-family: sans-serif;
  font-size: 20px;
}

#charts {
  font-family: sans-serif;
  font-size: 18px;
}
body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #D5CECC;
}
 p2 {
   font-size: 12;
 }

p {
  font-size: 18;
}

#basemaps-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 400;
  background: white;
  padding: 10px;
}
#basemaps {
  margin-bottom: 5px;
}
